<!DOCTYPE html> 
<html>
	<head>
		<link rel="stylesheet" href="../styles/main.css">
		<script src="../js/loader.js"></script>
		<title> My first game - Options </title>
	</head>
	<body>
		<div id="options_id">
			<p class="menu-object" id="title">Options menu</p>
			<div class="menu-object" id="dif-sel">
				<p class="menu-object">DIFICULTY:</p>
				<input type="radio" id="easy" value="easy" v-model="dificulty" checked>
				<label for="easy">EASY</label>
				<input type="radio" id="normal" value="normal" v-model="dificulty" >
				<label for="normal">NORMAL</label>
				<input type="radio" id="hard" value="hard" v-model="dificulty" >
				<label for="hard">HARD</label>
			</div>
			<button class="menu-object" v-on:click="save"> SAVE </button>
			<button class="menu-object" v-on:click="discard"> DISCARD </button>
		</div>
	</body>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
	<script src="../js/options.js"></script>
</html>

